.admin__header__row{
    ul{
        justify-content: flex-end;
        
        li{
            a{
                border: 0px;
                margin: 0 20px;
            }
        }
    }

}