// FONTS
$main--font: 'Poppins', sans-serif;
$logo--font: 'Kanit', sans-serif;
$nav--font: 'Josefin Sans', sans-serif;
$post--font: 'Nunito Sans', sans-serif;



// COLORS
$page--bg: #DBE2EF;
$header--bg: #112D4E;
$header__drop__menu--bg: #184272;
$post--bg: #ffffff;
$sidebar--bg: #ffffff;

$font--white_color: #ffffff;
$font__header--color: #ffffff;
$font__main--color: #242424;
$accent--color: #e9f190;