.main__content{
    max-width: 1200px;
    margin: 40px auto;

    &__container{
        display: flex;
        justify-content: space-between;
        
        width: 100%;
    }

    h2{
        @include custom-h2;
    }
}